.error {
    text-align: center;
    padding: 50px;
}

.error-code {
    color: #FF6060;
    font-size: 10rem;
}

.error-description {
    color: #FF6060;
    font-size: 36px;
    margin-top: 2em;
    margin-bottom: 4em;
}

.error-link {
    color: #FF6060;
}

@media screen and (width < 1000px) {
    .error-code {
        font-size: 4rem;
    }

    .error-description {
        font-size: 18px;
    }
}